<div class="content">
    <div class="text">
        <h1>Hi.</h1>
        <p>My name is Gabi and I’m a webdeveloper / graphic designer.</p>
    </div>
    <div class="me"></div>
</div>
<div class="socials">
    <div class="example-button-container">
        <a href="https://github.com/gabilucuta?tab=repositories">
            <button mat-fab matTooltip="GitHub" matTooltipPosition="below" matTooltipHideDelay="10">
                <fa-icon size="2x" [icon]="faGithub"></fa-icon>
            </button>
        </a>
    </div>
    <div class="example-button-container">
        <a href="https://www.linkedin.com/in/gabriel-lucuta-67026624b/">
            <button mat-fab matTooltip="LinkedIn" matTooltipPosition="below" matTooltipHideDelay="10">
                <fa-icon size="2x" [icon]="faLinkedin"></fa-icon>
            </button>
        </a>
    </div>
    <div class="example-button-container">
        <a href="https://www.facebook.com/gabi.lucuta">
            <button mat-fab matTooltip="Facebook" matTooltipPosition="below" matTooltipHideDelay="10">
                <fa-icon size="2x" [icon]="faFacebook"></fa-icon>
            </button>
        </a>
    </div>
    <div class="example-button-container">
        <a href="https://www.instagram.com/sunt.gubby/">
            <button mat-fab matTooltip="Instagram" matTooltipPosition="below" matTooltipHideDelay="10">
                <fa-icon size="2x" [icon]="faInstagram"></fa-icon>
            </button>
        </a>
    </div>
</div>